.button-30 {
    background-color: rgb(138, 11, 131);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px; */
    
}

.keypad{
    display: grid;
    gap: 5px;
}

.button-30.equals {
    background-color: orange;
    width: 105px;
}



.result {
    height: 50px;
    background-color: rgb(255, 255, 255);
    text-align: right;
    margin: 0;
    padding: 5px;
    border-bottom: 15px;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 0px;
    border: 2px solid rgb(97, 93, 93);
    
        
}

.calculator {
    align-items: center;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f9f9f9; 
}

.calculator {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background-color: white; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}







