.button-30 {
    background-color: red;
    color: blue;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    
}



.keypad {
    display: grid;
    gap: 5px;
}

.button-30.equals {
    background-color: orange;
    width: 105px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.result {
    height: 50px;
    background-color: aqua;
    text-align: right;

    margin: 0;
    padding: 5px;
    margin-bottom: 15px;

}